.articles article {
    border: 2pt solid black;
    border-radius: 10px;
    padding: 10px;
    color: white;
}
#artIntro {
    background-color: #1a171B;
}
#artA {
    background-color:  #00738d;
}
#artB {
    background-color:  #548C86;
}
#artC {
    background-color:   #6e1C50;
}
#artD {
    background-color:  #7B6951;
}
#artE {
    background-color:  #BaBd5d;
}
#artF {
    background-color:  #66aBBB;
}
#artG {
    background-color:  #98BaB6;
}
#artH {
    background-color:  #a87796;
}
#artI {
    background-color:  #B0a597;
}
#artJ {
    background-color:  #C8Ca7d;
}
